<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vueing Recipes</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css">
    <link ref="stylesheet" href="styles.css">
</head>

<style>
    #recipe1 {
    background-image: url("eggplantNoParm.png");
    background-size: cover;
}

#recipe2 {
    background-image: url("MungbeanDal.png");
    background-size: cover;
}
</style>

<body>
    <div id="root" class="section">
        <div class="container">
            <div class="columns">
                <div class="column list">
                    <div class="card">
                        <div class="card-image">
                            <figure id="recipe1" class="image is-4by3">
                            </figure>
                        </div>
                        <header class="card-header ">
                            <div class="card-header-title">
                                <div class="control">
                                    <input v-model="recipeName_1" class="input no-outline" type="text" placeholder="Recipe...">
                                </div>
                            </div>
                            <span class="card-header-icon">
                                <a class="button is-text is-small" @click="toggleShow(showRecipe1)">{{ showRecipe1.linkLabel }}</a>
                            </span>
                        </header>

                        <div class="content">
                            <div class="card-content" v-show="showRecipe1.state">
                                <div class="control">
                                    <input v-model="newIngredient1" @keyup.enter="addIngredient1" class="input is-small no-outline has-extra-margin" type="text"
                                        placeholder="Ingredients...">
                                </div>

                                <div class="list-items" v-for="item in ingredients1">
                                    <input type="checkbox" v-bind:value="item.description" v-model:checked="item.completed">
                                    <label class="checkbox" v-bind:for="item.description" v-text="item.description">
                                    </label>
                                </div>
                                <!-- <span class="card-header-icon"><a class="button is-text is-small" @click="ingredients1=[]">clear all</a></span> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column list">
                    <div class="card">
                        <div class="card-image">
                            <figure id="recipe2" class="image is-4by3"></figure>
                        </div>
                        <header class="card-header ">
                            <div class="card-header-title">
                                <div class="control">
                                    <input v-model="recipeName_2" class="input no-outline" type="text" placeholder="Recipe...">
                                </div>
                            </div>
                            <span class="card-header-icon">
                                <a class="button is-text is-small" @click="toggleShow(showRecipe2)">{{ showRecipe2.linkLabel }}</a>
                            </span>
                        </header>

                        <div class="content">
                            <div class="card-content" v-show="showRecipe2.state">
                                <div class="control">
                                    <input v-model="newIngredient2" @keyup.enter="addIngredient2" class="input is-small no-outline has-extra-margin" type="text"
                                        placeholder="Ingredients...">
                                </div>

                                <div class="list-items" v-for="item in ingredients2">
                                    <input type="checkbox" v-bind:value="item.description" v-model:checked="item.completed">
                                    <label class="checkbox" v-bind:for="item.description" v-text="item.description">
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="column list">
                    <div class="card">
                        <header class="card-header has-light-bg">
                            <p class="card-header-title">
                                To Buy
                            </p>
                            <span class="card-header-icon">
                                <a class="button is-text is-small" @click="toggleShow(showToBuy)">{{ showToBuy.linkLabel }}</a>
                            </span>
                        </header>
                        <div class="card-content" v-show="showToBuy.state">
                            <div class="content">
                                <div class="list-items" v-for="item in toBuy1">
                                    {{ item.description }}
                                </div>
                                <div class="list-items" v-for="item in toBuy2">
                                    {{ item.description }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <header class="card-header has-light-bg">

                            <p class="card-header-title">
                                Already Have
                            </p>
                            <span class="card-header-icon">
                                <a class="button is-text is-small" @click="toggleShow(showAlreadyHave)">{{ showAlreadyHave.linkLabel }}</a>
                            </span>

                        </header>
                        <div class="card-content" v-show="showAlreadyHave.state">
                            <div class="content">
                                <div class="list-items" v-for="item in alreadyHave1">
                                    {{ item.description }}
                                </div>
                                <div class="list-items" v-for="item in alreadyHave2">
                                    {{ item.description }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script src="app.js"></script>
</body>

</html>
